<h1><p><font size="12" color="red">ABOUT ME AND THE APPLICATION</font></p></h1>
<p><font size="3" color="white">I am Anthony Mendicino from the northwest side of Chicago and currently a Junior studying Information Technology at DePaul University. 
I love eating and making Italain food. 
My friends and I usually go around the city of Chicago and try new Italain restaurants and rate them.
Also, each link in my Home Page are my favorite Italain restaurants that I follow and eat every year. 
All of my links provides the restaurants menu, about us, catering, reservations, phone number, and address.</font></p>