<h1><p><font size="12" color="red">How Do You Use This Application?</font></p></h1>
<p><font size="3" color="white">When you're on my Home Page, you click on a link and it will directly go to a restaurant's website to another window with all the information they provide for viewers.</font></p>