<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8"/>
        <title>'favorite_sports teams.htm'</title>
    </head>
    
    <body> 
        <h1><p><font size="12" color="red">MY FAVORITE ITALIAN RESTAURANTS</font></p></h1>
    <ul>
    
    <a href="http://www.capriristoranteberwyn.com/" target="_blank">
        <p><font size="12" color="green">Capri</font></p>
    </a>    
    
     
           
    <a href="http://www.rosebudrestaurants.com/" target="_blank">
        <p><font size="12" color="green">Rosebud</font></p>
    </a>
    
            
          
    <a href="http://www.agostinositalian.com/" target="_blank">
      <p><font size="12" color="green">Agostinos</font></p>
    </a>
        
           
    <a href="http://sabatinosrestaurantchicago.com/" target="_blank">
           <p><font size="12" color="green">Sabatino's</font></p>
    </a>
                       
    </ul>
    
    </body>                  
</html>