<!DOCTYPE html>
<html>
  <head>
    <title>Bootcont</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="w-3container w3-grey">
    <div>
      <a class="w3-button w3-green" href="/">Italian App</a>

      <a href="/" class="w3-button w3-green">Typos</a>
      <a href="/static_pages/home" class="w3-button w3-green">Home</a>
      <a href="/quotes" class="w3-button w3-green">Quotes</a>
      <a href="/static_pages/help" class="w3-button w3-green">Help</a>
      <a href="/static_pages/about" class="w3-button w3-green">About</a>
    </ul>
  
    </nav>
    <div>
    <%= yield %>
    
    </div>
  </body>
</html>
